/* TitleCardsContainer.css */

.title-cards-container-main {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  transition: 0.5s all ease;
}

.container-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-title-text {
  font-size: 24px;
  font-weight: bold;
}

.splide {
  margin-bottom: 20px;
}

.splide:hover {
  cursor: grab;
}

.splide__slide {
  list-style: none;
  margin-right: 10px;
}

.movie-poster {
  width: 10vw;
  height: auto;
  border-radius: 8px;
  transition: 0.5s all ease;
}

.movie-poster:hover {
  cursor: pointer;
  scale: 1.1;
}

.prev-button,
.next-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: #0056b3;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  margin-left: 10px;
}
