.movie-title-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-img-container {
  display: flex;
  margin: 10px;
}

.title-img-element {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.title-img-element:hover {
  scale: 1.2;
  border: 1px solid rgba(185, 185, 185, 0.507);
}
